.vscode
/.idea
__pycache__
.direnv
/.gradle
/backend/build
/result
*.drawio.dtmp
*.drawio.bkp
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# stable version pinning is done with nix, not the standard gradle way
/gradle
/gradlew*

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
